* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00152A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 15px auto;
  text-align: center;
  max-width: 400px;
  width: 90%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
}

select, input[type="time"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  color: #333;
  text-align: center;
}

button {
  padding: 15px 20px;
  background-color: #00152A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
}


button:hover {
  background-color: #012D4A;
}

button:active {
  scale: 0.95;
}

/* Canvas responsive */
canvas {
  margin-top: 20px;
  border: 2px solid #333;
  width: 100%;
  height: auto;
  max-width: 600px;
  /* Se adapta a la pantalla, pero no supera los 600px en ancho */
  border-radius: 8px;
}

/* Botón de descarga centrado */
#downloadBtn {
  margin-top: 20px;
  width: 100%;
  padding: 15px 20px;
}